<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Orders detail</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Manage orders</a></li>
                            <li class="breadcrumb-item active">detail</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->

            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="invoice-title">
                                        <h4 class="float-right"><span class="badge {{orderStatus order.status}}">{{order.status_name_uppercase}}</span></h4>
                                        <h3 class="m-t-0">
                                            <strong>{{order.user.name}}</strong>
                                        </h3>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-4">
                                            <address>
                                                <strong>Địa chỉ giao hàng:</strong><br>
                                                {{order.user.address}}<br>
                                            </address>
                                        </div>

                                        <div class="col-4">
                                            <address>
                                                <strong>Payment Method:</strong><br>
                                                Thanh toán khi nhận hàng
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="panel panel-default">
                                        <div class="p-2">
                                            <h3 class="panel-title font-20"><strong>Chi tiết đơn hàng</strong></h3>
                                        </div>
                                        <div class="">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <td><strong>Món ăn</strong></td>
                                                        <td class="text-center"><strong>Giá</strong></td>
                                                        <td class="text-center"><strong>Số lượng</strong>
                                                        </td>
                                                        <td class="text-right"><strong>Tổng tiền</strong></td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#each order.orderDetail}}
                                                        <tr>
                                                            <td>{{dishDetail.name}}</td>
                                                            <td class="text-center">{{standardPrice 1 price}}</td>
                                                            <td class="text-center">{{quantity}}</td>
                                                            <td class="text-right">{{standardPrice quantity price}}</td>
                                                        </tr>
                                                    {{/each}}

                                                    <tr>
                                                        <td class="no-line"></td>
                                                        <td class="no-line"></td>
                                                        <td class="no-line text-center ">
                                                            <h5 class="m-0">TỔNG</h5></td>
                                                        <td class="no-line text-right"><h4 class="m-0">{{standardPrice 1 order.total_price}}</h4></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="panel panel-default">
                                        <div class="p-2">
                                            <h3 class="panel-title font-20"><strong>Cập nhật trạng thái đơn hàng</strong></h3>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-auto">
                                            <form>
                                                <div class="form-group">
                                                    <div>
                                                        <select class="form-control" id="sort-by">
                                                            {{#if statusOption.option1}}
                                                                <option selected>Đang chuẩn bị</option>
                                                            {{else}}
                                                                <option>Đang chuẩn bị</option>
                                                            {{/if}}

                                                            {{#if statusOption.option2}}
                                                                <option selected>Đang giao</option>
                                                            {{else}}
                                                                <option>Đang giao</option>
                                                            {{/if}}

                                                            {{#if statusOption.option3}}
                                                                <option selected>Đã giao hàng</option>
                                                            {{else}}
                                                                <option>Đã giao hàng</option>
                                                            {{/if}}

                                                            {{#if statusOption.option4}}
                                                                <option selected>Đã hủy</option>
                                                            {{else}}
                                                                <option>Đã hủy</option>
                                                            {{/if}}
                                                        </select>

                                                        <button onclick="updateOrder({{order.order_id}})" class="btn btn-success waves-effect waves-light m-t-10">
                                                            Cập nhật
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->