<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Update category</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Manage categories</a></li>
                            <li class="breadcrumb-item active">Dishes categories</li>
                            <li class="breadcrumb-item active">Update</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Điền đầy đủ thông tin của loại món ăn cần thêm</h4>
                            <div class="locked-bagde float-right m-r-20"><h5><span class="badge badge-success">ACTIVE</span></h5></div>

                            <!-- Form -->
                            <form method="POST" action="/manage-categories/dishes-subcategories/update/{{subcategory.subcategory_id}}?parent={{subcategory.category}}">

                                <div class="form-group">
                                    <label>Thể loại</label>
                                    <div >
                                        <select class="form-control" id="category" name="category">
                                            {{#each categories}}
                                                <option {{selected_category subcategory}} value="{{category_id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Tiểu thể loại</label>
                                    <input type="text" class="form-control" required placeholder="Tên tiểu thể loại" name="subcategory" id="subcategory" value="{{subcategory.name}}"/>
                                </div>

                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <div >
                                        <select class="form-control" id="status" name="status">
                                            {{#if subcategory.isActive}}
                                                <option selected value="1">Active</option>
                                                <option value="0">Not active</option>
                                            {{else}}
                                                <option value="1">Active</option>
                                                <option selected value="0">Not active</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            Cập nhật
                                        </button>

                                        <a href="/manage-categories/dishes-subcategories">
                                            <button type="button" class="btn btn-secondary waves-effect m-l-5">
                                                Bỏ qua
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->

    <footer class="footer">
        © 2020 Pizzone <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
    </footer>
</div>