<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Manage hot deals</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Manage hot deals</a></li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <div class="row p-3">
                                <div class="col-lg-3">
                                    <form role="search" class="email-inbox" onsubmit="return false">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control rounded"
                                                   placeholder="Search your deals.." name="key_name" id="key-name">
                                            <button type="button" onclick="gotoPageHotDeal(1)"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </form>

                                </div>

                                <div class="col-lg-7">
                                    <!-- filter here -->
                                    <div class="row">
                                        <p class="col-sm-3 found-search-item col-form-label ">Found
                                            <span id="total-result">
                                                <strong>{{totalResult}}</strong> items
                                            </span>
                                            <script type="text/x-handlebars-template" id="total-result-template">
                                                <strong>\{{totalResult}}</strong> items
                                            </script>
                                        </p>

                                        <p class="found-search-item col-form-label">Status</p>
                                        <div class="col-sm-auto">
                                            <select class="form-control" id="category" onchange="gotoPageHotDeal(1)">
                                                <option>Active</option>
                                                <option>Passive</option>
                                            </select>
                                        </div>

                                        <p class="found-search-item col-form-label">Sort by</p>
                                        <div class="col-sm-auto">
                                            <select class="form-control" id="sort-by" onchange="gotoPageHotDeal(1)">
                                                <option>Discount</option>
                                                <option>Start date</option>
                                                <option>End date</option>
                                            </select>
                                        </div>

                                        <p class="found-search-item col-form-label">Shown items</p>
                                        <div class="col-sm-auto">
                                            <select class="form-control" id="total_dish_per_page"
                                                    onchange="gotoPageHotDeal(1)">
                                                {{#if totalDishPerPageOption.option1}}
                                                    <option selected>1</option>
                                                {{else}}
                                                    <option>1</option>
                                                {{/if}}
                                                {{#if totalDishPerPageOption.option2}}
                                                    <option selected>2</option>
                                                {{else}}
                                                    <option>2</option>
                                                {{/if}}
                                                {{#if totalDishPerPageOption.option3}}
                                                    <option selected>3</option>
                                                {{else}}
                                                    <option>3</option>
                                                {{/if}}
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="btn-toolbar float-lg-right form-group mb-0" role="toolbar">
                                        <div class="">
                                            <a href="/manage-hot-deals/add"
                                               class="btn btn-info waves-effect waves-light  m-r-5" role="button"><i
                                                    class="fas fa-plus"></i> <i></i> <span>Add New</span> </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Discount</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="main-manage-hot-deal">
                                    {{#each hotdeals}}
                                        <tr>
                                            <th scope="row">{{deal_id}}</th>
                                            <td>{{dishDetail.name}}</td>
                                            <td>{{discount}}%</td>
                                            <td>{{start_time}}</td>
                                            <td>{{end_time}}</td>
                                            <!-- binding bage info -->
                                            <td><span class="badge {{categoryActive
                                                    is_active}}">{{subcategoryStatusActive}}</span></td>
                                            <td>
                                                <div class="btn-toolbar form-group mb-0">
                                                    <div class="">
                                                        <a href="/manage-hot-deals/update/{{deal_id}}" role="button"
                                                           class="btn btn-success waves-effect waves-light m-r-5"><i
                                                                class="far fa-edit"></i></a>
                                                        <button type="button"
                                                                class="btn btn-danger waves-effect waves-light m-r-5 delete-modal-dialog"
                                                                data-toggle="modal" data-target="#alertDeleteModal"
                                                                onclick="getID('{{deal_id}}')">
                                                            <i class="far fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                    <script type="text/x-handlebars-template" id="main-manage-hot-deal-template">
                                        \{{#each hotdeals}}
                                        <tr>
                                            <th scope="row">\{{deal_id}}</th>
                                            <td>\{{dishDetail.name}}</td>
                                            <td>\{{discount}}%</td>
                                            <td>\{{start_time}}</td>
                                            <td>\{{end_time}}</td>
                                            <!-- binding bage info -->
                                            <td><span class="badge \{{categoryActive
                                            is_active}}">\{{subcategoryStatusActive}}</span></td>
                                            <td>
                                                <div class="btn-toolbar form-group mb-0">
                                                    <div class="">
                                                        <a href="/manage-hot-deals/update/\{{deal_id}}" role="button"
                                                           class="btn btn-success waves-effect waves-light m-r-5"><i
                                                                class="far fa-edit"></i></a>
                                                        <button type="button"
                                                                class="btn btn-danger waves-effect waves-light m-r-5 delete-modal-dialog"
                                                                data-toggle="modal" data-target="#alertDeleteModal"
                                                                onclick="getID('\{{deal_id}}')">
                                                            <i class="far fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    \{{/each}}
                                    </script>

                                </table>

                                {{> deleteWarningHotDeal}}
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            <div id="pagination">
                {{{render_pagination_hotdeal page totalPage}}}
            </div>
            <script type="text/x-handlebars-template" id="pagination-template">
                \{{{render_pagination_hotdeal page totalPage}}}

            </script>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->

    <footer class="footer">
        © 2020 Pizzone <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
    </footer>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
