<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Update hot deal</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Manage hot deals</a></li>
                            <li class="breadcrumb-item active">Update</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end page-title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Điềnthông tin của deal cần cập nhật</h4>
                            <div class="locked-bagde float-right m-r-20"><h5><span class="badge badge-success">ACTIVE</span></h5></div>

                            <!-- Form -->
                            <form method="POST" action="/manage-hot-deals/update/{{deal_id}}">
                                <div class="form-group">
                                    <label>Món ăn</label>
                                    <div >
                                        <input class="form-control" id="category" name="dish-name" value="{{dishDetail.name}}" readonly/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Giảm giá</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="number" class="form-control" required placeholder="Phần trăm giảm giá" name="discount" id="discount" value="{{discount}}" min="0"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Khoảng thời gian diễn ra</label>
                                    <div>
                                        <div class="input-daterange input-group" id="date-range">
                                            <input type="text" class="form-control" name="start" placeholder="Start Date" value="{{start_time_string}}" required/>
                                            <input type="text" class="form-control" name="end" placeholder="End Date" value="{{end_time_string}}" required/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <div >
                                        <select class="form-control" id="status" name="is_active">
                                            {{#if isActive}}
                                                <option selected value="1">Active</option>
                                                <option value="0">Passive</option>
                                            {{else}}
                                                <option value="1">Active</option>
                                                <option selected value="0">Passive</option>
                                            {{/if}}

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            Cập nhật
                                        </button>

                                        <a href="/manage-hot-deals">
                                            <button type="button" class="btn btn-secondary waves-effect m-l-5">
                                                Bỏ qua
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->

    <footer class="footer">
        © 2020 Pizzone <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
    </footer>
</div>